<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Team Budget Planning</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="css/style.css" />

  <script src="../javascript/main.js" async></script>

</head>
<body class="p-0" onload="loadPMviews()">
  <div class="container p-0">
    <div class="row">
      <div class="col title mt-5 text-center">
        <h5>Team Budget Planning</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul class="nav nav-tabs justify-content-around" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="view-vendors-tab"
                    data-bs-toggle="tab" data-bs-target="#view_vendors"
                    type="button" role="tab" aria-controls="home"
                    aria-selected="true">View Vendors</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="add-vendor-tab" data-bs-toggle="tab"
                    data-bs-target="#add_vendor" type="button" role="tab"
                    aria-controls="profile" aria-selected="false">
              Add Vendor</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="view-contacts-tab"
                    data-bs-toggle="tab" data-bs-target="#view_contracts"
                    type="button" role="tab" aria-controls="contact"
                    aria-selected="false">
              View Contracts</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="add-contact-tab" data-bs-toggle="tab"
                    data-bs-target="#add_contract" type="button" role="tab"
                    aria-controls="contact" aria-selected="false">
              Add Contract</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="col-12 pt-3 tab-content" id="view">
          <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active" id="view_vendors"
                 role="tabpanel" aria-labelledby="home-tab">
              <table class="table table-sm table-striped mx-auto align-middle">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Company</th>
                  <th>Headquarters</th>
                  <th></th>
                </tr>
                </thead>
                <tbody id="vendor_table">

                </tbody>
              </table>
            </div>


            <div class="tab-pane fade" id="add_vendor" role="tabpanel"
                 aria-labelledby="profile-tab">
              <form id="vendorForm">
                <div class="mb-3">
                  <label for="company" class="form-label">Company</label>
                  <input type="text" class="form-control" name="company" id="company"
                         placeholder="Company name">
                </div>
                <div class="mb-3">
                  <label for="hq" class="form-label">Headquarters</label>
                  <input type="text" class="form-control" name="hq" id="hq"
                         placeholder="Company location" />
                </div>
                <button class="btn btn-primary mx-auto"
                        onclick="addVendor(vendorForm.company.value,
                          vendorForm.hq.value)">Submit</button>
              </form>
            </div>


            <div class="tab-pane fade" id="view_contracts"
                 role="tabpanel" aria-labelledby="contact-tab">
              <table class="table table-sm table-striped mx-auto small align-middle">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Vendor</th>
                  <th>Project Name</th>
                  <th>Cost</th>
                  <th> </th>
                </tr>
                </thead>
                <tbody id="contract_table">

                </tbody>
              </table>
            </div>


            <div class="tab-pane fade pb-4" id="add_contract"
                 role="tabpanel" aria-labelledby="contact-tab">
              <form id="contractForm">
                <div class="mb-3">
                  <label for="vendor_select" class="form-label">Vendor</label>
                  <select class="form-control form-select" id="vendor_select"
                          name="vendor_select">

                  </select>
                </div>
                <div class="mb-3">
                  <label for="name" class="form-label">Project Name</label>
                  <input type="text" class="form-control" id="name" name="name"
                         placeholder="Project Name" />
                </div>
                <div class="mb-3">
                  <label for="cost" class="form-label">Cost</label>
                  <input type="text" class="form-control" id="cost" name="cost"
                         placeholder="Contract cost" />
                </div>
                <button class="btn btn-primary mx-auto"
                        onclick="addContract(contractForm.vendor_select.value,
                          contractForm.name.value,
                          contractForm.cost.value)">Submit</button>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="editVendor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Understood</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <footer class="container">
    <div class="row">
      <div class="col-12">
        <nav class="nav nav-pills nav-justified">
          <a class="nav-item nav-link active" href="index.html">
            Product Management
          </a>
          <a class="nav-item nav-link" href="finance.html">
            Finance Department
          </a>
        </nav>
      </div>
    </div>
  </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>